Welcome to the chicken app!

- if user_signed_in?
  %h2 Your flocks
  %ul.flocks
    - flocks.each do |flock|
      %li.flock
        .summary
          = link_to flock.name, flock
          - if flock.most_recent_activity_on
            last modified
            %time{date: flock.most_recent_activity_on, title: flock.most_recent_activity_on}
              = time_ago_in_words flock.most_recent_activity_on
            ago
        = render 'flocks/actions', :flock => flock
  = link_to 'Add a flock', new_flock_path
