<div class="actions">
  <%= link_to 'Edit', edit_flock_path(flock) %>
  <%= link_to 'Feed', new_flock_feeding_path(flock) %>
  <%= link_to 'Collect Eggs', new_flock_egg_collection_path(flock) %>
</div>
