body > .env-marker {
  &.production { display: none; }
  background: red;
  color: white;
  font-weight: bold;
  padding: 0.3em;
  text-align: center;
}

.no-touch {
  :link       { text-decoration: none;      }
  :link:hover { text-decoration: underline; }

  .action-container {
    .actions         { visibility: hidden;  }
    &:hover .actions { visibility: visible; }
  }
}

li.flock {
  position: relative;
  > .summary {
    width: 350px;
  }
  > .actions {
    position: absolute;
    top: 0;
    left: 350px;
  }
}

.report {
  table {
    > thead > tr > th {
      font-weight: bold;
      border-left: solid 1px black;
      border-right: solid 1px black;
      padding: .3em;
    }
    > tbody > tr > td {
      text-align: right;
      border-left: solid 1px black;
      border-right: solid 1px black;
      padding: .3em;
    }
  }
}


.not-editing { .is-editing     { display: none; } }
.editing     { .is-not-editing { display: none; } }

/* todo - css animation */
.deleting { background-color: yellow; }
.deleted { display: none; }
