body > .env-marker {
  &.production { display: none; }
  background: red;
  color: white;
  font-weight: bold;
  padding: 0.3em;
  text-align: center;
}

:link {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

.actions {
  visibility: hidden;
  :hover > & { visibility: visible; }
}

ul.flocks li {
  > a {
    display: inline-block;
    width: 200px;
  }
  > .actions {
    display: inline-block;
  }
}
